.error-block {
    display: flex;
    flex-direction: column;
    font-size: 16px;

    &__title {
      font-weight: bold;
    }

    &__message {
      color: crimson;
    }

    &__btn {
      width: 100%;
      height: auto;
      padding: 10px;
      border: 1px solid $main-color;
      border-radius: 5px;
      font-size: 16px;
      line-height: 1.6;
      transition: background-color 200ms linear;

      &:not(:last-of-type) {
        margin-bottom: 8px;
      }

      &:hover,
      &:focus {
        color: #fff;
        background-color: $main-color;
        transform: none;
      }

      &_warn {
        color: crimson;
        border-color: crimson;

        &:hover,
        &:focus {
          background-color: crimson;
        }
      }
    }
  }