.settings {
    &__title {
        margin: 0;
        margin-bottom: 20px;
        font-size: 20px;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 20px;
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 5px 7px;
        border: 1px solid $main-color;
        border-radius: 5px;
        &:not(:last-child) {
        margin-bottom: 8px;
        }
    }
    }